
#top .container {
	color: #1E2023;
}

#top .container span {
	transition: all 1s;
	display: inline-block;
}

/* #top .container .top_twinkle, */
header h1 {
	animation: twinkle01 3s infinite ease-in-out;
}

@keyframes twinkle01 {
	0% {}

	50% {
		transform: translateY(-5px);
	}

	100% {}
}


#top .container::after,
#top .container::before {
	position: absolute;
	content: "";
	display: block;
	width: 5px;
	height: 80%;
	background-color: #FFCB3B;
	z-index: -2;
}

#top .container::before {
	top: 0;
	left: 30px;
	border-radius: 0 0 10px 10px;
}

#top .container::after {
	bottom: 0;
	right: 30px;
	border-radius: 10px 10px 0 0;
}


/* -----topUp------------------------------- */
#top .container .topSpan01 {
	animation: topUp01 3s infinite;
}

@keyframes topUp01 {
	10% {
		transform: translateY(-5px);
	}

	30% {
		transform: translateY(0px);
	}
}

#top .container .topSpan02 {
	animation: topUp02 3s infinite;
}

@keyframes topUp02 {
	15% {
		transform: translateY(-5px);
	}

	35% {
		transform: translateY(0px);
	}
}

#top .container .topSpan03 {
	animation: topUp03 3s infinite;
}

@keyframes topUp03 {
	20% {
		transform: translateY(-5px);
	}

	40% {
		transform: translateY(0px);
	}
}

#top .container .topSpan04 {
	animation: topUp04 3s infinite;
}

@keyframes topUp04 {
	25% {
		transform: translateY(-5px);
	}

	45% {
		transform: translateY(0px);
	}
}


/* #about_content----------------------- */
/* ----------about----------------- */
#about {
	background-color: #FFFCF2;
	position: relative;
}

#about .container {
	z-index: 2;
	position: relative;
}

#about::after {
	position: absolute;
	content: "";
	display: block;

	top: 0;
	right: 30px;
	width: 5px;
	height: 100%;
	background-color: #FFCB3B;
}

#about_content {
	text-align: left;
}

#about_content .about_box {
	display: grid;
	grid-template-columns: 15rem 1fr;
}

#about_content h1 {
	margin-bottom: 10px;
}

#about_content .edu_span {
	font-size: 1.1rem;
	font-style: italic;
}

#about_content .skill_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	gap: 3rem;
}

#about_content .skill_container span {
	transition: all 0.3s;
	cursor: pointer;
}

#about_content .skill_container span:hover {
	transform: rotate(5deg);
	margin-top: -2px;
	color: rgb(71, 69, 69);

}




/* 포트폴리오----------------------------------------- */
#two_row>div {
	padding-bottom: 3rem;
}

#two_row div p {
	font-size: 1.1rem;
	margin: 0;
	padding: 0 1rem;
}

/* article */
#two_row article {
	border-radius: 5px 80px 5px 5px;
	min-height: 51%;
	background-color: transparent;
	overflow: hidden;
	transition: all 0.4s;
}

#two_row div .item:hover {
	background: #fff;
	box-shadow: 5px 5px 10px rgba(231, 231, 231, 0.375);
	transform: translateY(-5px);
}

#two_row div .item:hover header h2 {
	color: #666 !important;
}

#two_row div .item:hover header {
	background-color: transparent;
}


#two_row div .item .img_cut {
	height: 350px;
	overflow: hidden;
	border-radius: 0 80px 0 0;
}

#two_row div .item .img_cut img {
	transition: all 6s;
}

#two_row .item:hover .img_cut img {
	margin-top: -520px;
}

#two_row .item:hover .img02 img {
	margin-top: -250px;
}

#two_row .item #study img {
	width: 200%;
	height: 100%;
}

#two_row .item:hover #study img {
	margin-top: -0px;
	transform: translateX(-50%) !important;
}

/* gitLink------------------------------------- */

#gitLink {
	width: 100%;
}

#gitLink span {
	display: inline-block;
	transition: all 0.3s;
	cursor: pointer;
}

#gitLink:hover span {
	transform: translateX(10px);
	font-style: italic;
	color: tomato;
}

#gitLink a {
	text-decoration: none;
	list-style: none;
}

/* always_content -----------------------------------*/
#always {
	position: relative;
	z-index: 1;
}

#always::after,
#always::before {
	position: absolute;
	content: "";
	display: block;
	width: 5px;
	height: 80%;
	background-color: #FFCB3B;
	z-index: -2;
}

#always::before {
	top: 0;
	left: 30px;
	border-radius: 0 0 10px 10px;
}

#always::after {
	bottom: 0;
	right: 30px;
	border-radius: 10px 10px 0 0;
}

#always_content .always_container span {
	transition: all 0.7s;
	display: inline-block;
}

#always_content:hover .always_container span {
	animation: twinkle 3s infinite;
	transform: translateX(-10px);
}

@keyframes twinkle {
	50% {
		color: rgb(96, 94, 94);		
	}
}

#always_content>p {
	margin: 0;
	padding: 0;
}

/* ----------bottom------------- */
#games {
	width: 100%;
	text-align: center;
}

/* ----------box_active------------------------------- */
.box_active {
	opacity: 0;
	transform: translateX(100px);
	transition: opacity 1.5s ease, transform 0.5s ease;
}

.box_active.visible {
	opacity: 1;
	transform: translateX(0);
}

/* 노란꽃---------------------- */
#main>section.dark .topFlowers {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -120px;
	left: -20px;
	z-index: -1;
}

#main>section.dark .topFlowers p.flower01 {
	overflow: hidden;
	width: 380px;
	height: 410px;
	border-radius: 50%;
	animation: flowerRotate01 7s infinite ease-in-out;
}
#main>section.dark .topFlowers p.flower01 {
	overflow: hidden;
	width: 380px;
	height: 410px;
	border-radius: 50%;
	animation: flowerRotate01 7s infinite ease-in-out;
}
#main>section.dark .topFlowers p.flower03 {
	overflow: hidden;
	width: 380px;
	height: 410px;
	border-radius: 50%;
	animation: flowerRotate01 7s infinite ease-in-out;
}
#main>section.dark .topFlowers p.flower04 {
	overflow: hidden;
	width: 380px;
	height: 410px;
	border-radius: 50%;
	animation: flowerRotate01 7s infinite ease-in-out;
}

@keyframes flowerRotate01 {
	0% {
		transform: rotate(-70deg);
	}

	50% {
		transform: rotate(70deg);
	}

	100% {
		transform: rotate(-70deg);
	}

}

#main>section.dark .topFlowers .flower01 span {
	display: block;
	background-image: url(../../images/flowers.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -80px -860px;
	width: 1350px;
	height: 1350px;
}


/* forFlower--------오렌지-------- */
#flowerCutTop {
	position: absolute;
	z-index: 2;
	overflow: hidden;
	width: 100%;
	height: 200%;
	top: -50px;
	right: 0;
}

#forFlower .topFlowers02 {
	animation: flowerRotate02 12s infinite ease-in-out;
}

@keyframes flowerRotate02 {
	0% {
		transform: rotate(30deg);
	}

	50% {
		transform: rotate(-30deg);
	}

	100% {
		transform: rotate(30deg);
	}

}

#forFlower .topFlowers02 .flower02 {
	overflow: hidden;
	width: 390px;
	height: 360px;
	border-radius: 50%;
}

#forFlower .topFlowers02 .flower02 span {
	display: block;
	background-image: url(../../images/flowers.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -800px -90px;
	width: 1250px;
	height: 1250px;
}

/* forFlower--------블루-------- */
#flowerCutBottom {
	position: absolute;
	z-index: -1;
	top: -100px;
	right: 0;
	width: 100%;
	height: 120%;
	overflow: hidden;
}

#forFlowerBottom {
	width: 100%;
	height: 100%;
}

#forFlowerBottom .bottomFlowers {
	animation: flowerRotate03 29s infinite ease-in-out;
}

#forFlowerBottom .bottomFlowers .flower03 {
	overflow: hidden;
	width: 220px;
	height: 220px;
	border-radius: 50%;

}

@keyframes flowerRotate03 {
	0% {
		transform: rotate(-180deg);
	}

	50% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-180deg);
	}

}

#forFlowerBottom .bottomFlowers .flower03 span {
	display: block;
	background-image: url(../../images/flowers.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -470px -240px;
	width: 700px;
	height: 700px;
}